# Intro to Python for Data Science
- 2017-10-13
- William Surles
- Course notes from data camp

# Python Basics

## Hello Python!

### The Python Interface

In [24]:
# Example, do not modify!
print(5 / 8)

# Put code below here
print(7 + 10)

0.625
17

### Python as a calculator

In [25]:
# Addition and subtraction
print(5 + 5)
print(5 - 5)

# Multiplication and division
print(3 * 5)
print(10 / 2)

# Exponentiation
print(4 ** 2)

# Modulo
print(18 % 7)

# How much is your $100 worth after 7 years?
print(100 * 1.1**7)

10
0
15
5.0
16
4
194.87171000000012

## Variables & Types

The `+` operator will perform differntly on different data types

### Variable Assignment

In [26]:
# Create a variable savings
savings = 100

# Print out savings
print(savings)

100

### Calculations with variables

This uses `int` and `float` data types

In [27]:
# Create a variable savings
savings = 100

# Create a variable factor
factor = 1.10

# Calculate result
result = savings * factor ** 7

# Print out result
print(result)

194.87171000000012

### Other variable types

This uses `string` and `bool` data types

In [28]:
# Create a variable desc
desc = "compound interest"

# Create a variable profitable
profitable = True

### Guess the type

In [29]:
print(type(savings))
print(type(factor))
print(type(desc))
print(type(profitable))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Operations with other types

In [30]:
# Several variables to experiment with
savings = 100
factor = 1.1
desc = "compound interest"

# Assign product of factor and savings to year1
year1 = savings * factor

# Print the type of year1
print(type(year1))

<class 'float'>

In [31]:
# Assign sum of desc and desc to doubledesc
doubledesc = desc + desc

# Print out doubledesc
print(doubledesc)

compound interestcompound interest

### Type conversion

In [32]:
# Definition of savings and result
savings = 100
result = 100 * 1.10 ** 7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

In [33]:
# Definition of pi_string
pi_string = "3.1415926"

# Convert pi_string into float: pi_float
pi_float = float(pi_string)

print(type(pi_float))

<class 'float'>

### Can python handle everything?

Not everything. It cannot add strings to integers. But you can convert the int to a string with the `str()` function than concatenate the strings. 

Strings **can** be multiplied to show up a set number of times. 

Booleans can be added. They will be treated as 0 and 1 integers I think.

In [34]:
"I can add integers, like " + str(5) + " to strings."

'I can add integers, like 5 to strings.'

In [35]:
"I said " + ("Hey " * 2) + "Hey!"

'I said Hey Hey Hey!'

In [36]:
"The correct answer to this multiple choice exercise is answer number " + 2

TypeError: must be str, not int

In [37]:
True + False

1

# Python Lists

## Lists, what are they?

- it is a collection of values
- it can contain any data type
- it can contain different data types
- it can even hold other lists

### Create a list

In [38]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Create list areas
areas = [hall, kit, liv, bed, bath]

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

### Create list with different types

In [39]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Adapt list areas
areas = ["hallway", hall, "kitchen", kit, "living room", liv, "bedroom", bed, "bathroom", bath]

# Print areas
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]

### Select the valid list

these are all valid lists:

- [1, 3, 4, 2]
- [[1, 2, 3], [4, 5, 7]]
- [1 + 2, "a" * 5, 3]

### List of lists

In [40]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]
         ]

# Print out house
print(house)

# Print out the type of house
print(type(house))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
<class 'list'>

## Subsetting lists

- Python is zero indexed
- you can count backwards with a negative index
 - -1 will give you the last element
 - -2 will give yoy the second to last element
- for some reason the index specified at the end is not included. 
 - so fam[3:5] will return the 4th and 5th element only. not the 6th. 
- if you leave out the start [:3] or end [0:] it will start at the beginning or go to the end respectively.

### Subset and conquer

In [41]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print out second element from areas
print(areas[1])

# Print out last element from areas
print(areas[-1])

# Print out the area of the living room
print(areas[5])

11.25
9.5
20.0

### Subset and calculate

In [42]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[7]

# Print the variable eat_sleep_area
print(eat_sleep_area)

28.75

### Slicing and dicing

In [43]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Use slicing to create downstairs
downstairs = areas[:6]

# Use slicing to create upstairs
upstairs = areas[6:]

# Print out downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

### Slicing and dicing (2)

In [44]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Alternative slicing to create downstairs
downstairs = areas[:6]

# Alternative slicing to create upstairs
upstairs = areas[6:]

### Subsetting lists of lists

In [52]:
house

[['hallway', 11.25],
 ['kitchen', 18.0],
 ['living room', 20.0],
 ['bedroom', 10.75],
 ['bathroom', 9.5]]

In [53]:
house[-1][1]

9.5

## List Manipulation

- You can update an element by setting that element equal to a new value
 - you can update multiple elements at the same time with `fam[0:2] = ["me", 1.79]`
- the `+` operator will simply paste the contents of two lists into one list.
- use `del(fam[2])` to delete the second element
- if you set y = x, then update y, it will also update x. 
 - they are both just references to the same list stored on the computer. interesting.
 - if you don't want this then use `y = list(x)` or `y = x[:]` and y will be a new object based on x rather than just a reference to x.

### Replace list elements

In [55]:
# Create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
print(areas)

# Correct the bathroom area
areas[-1] = 10.5
print(areas)

# Change "living room" to "chill zone"
areas[4] = "chill zone"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

### Extend a list

In [63]:
# Create the areas list and make some changes
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0,
         "bedroom", 10.75, "bathroom", 10.50]
print(areas)

# Add poolhouse data to areas, new list is areas_1
areas_1 = areas + ["poolhouse", 24.5]
print(areas_1)

# Add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

### Delete list elements

Remove the poolhouse from `areas_2`

In [64]:
print(areas_2)
del(areas_2[-4:-2])
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'garage', 15.45]

### Inner workings of lists

In [66]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
print(areas)

# Create areas_copy
areas_copy = areas

# Change areas_copy
areas_copy[0] = 5.0

# Print areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]

# Functions and Packages

## Functions

### Familiar functions

In [69]:
# Create variables var1 and var2
var1 = [1, 2, 3, 4]
var2 = True

# Print out type of var1
print(type(var1))

# Print out length of var1
print(len(var1))

# Convert var2 to an integer: out2
out2 = int(var2)
print(out2)

<class 'list'>
4
1

### Help!

In [70]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In jupyter you can type `?help` to get help on a function in pop up.

### Multiple arguments

- sorted takes 3 arguments, iterable, key, and reverse
 - `iteratble` is required
 - `key` is optional. it is set to `None` by default
 - `reverse` is optional, it is set to `False` by default
 - You do not need to name `iterable`. But you need to name the optional arguments.

In [72]:
# Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

# Paste together first and second: full
full = first + second

# Sort full in descending order: full_sorted
full_sorted = sorted(full, reverse=True)

# Print out full_sorted
print(full_sorted)

[20.0, 18.0, 11.25, 10.75, 9.5]

## Methods

- Methods are similar to functions but a little different
- You call them on an object, rather than passing an argument into a function
 - They are functions that work on specific objects
- Getting the index of specific element from a list is a good example of a methos
 - `index` is a method 
 - `fam.index("mom")`
- `count` is another method. This counts the number of times an element appears in the list
 - `fam.count(1.73)`
- different objects have specific methods associated with them. 
 - i.e. Lists and strings have different methods
 - e.g. `sister.replace("z", "sa")` will work on a sting but not on a list. 
 - the methods may have the same name but work differently
 - index will give you the location of the letters in a string, but the location of an element of a list

### String Methods

In [76]:
# string to experiment with: room
room = "poolhouse"
print(room)

poolhouse

In [74]:
# Use upper() on room: room_up
room_up = room.upper()
print(room_up)

POOLHOUSE

In [75]:
# Print out the number of o's in room
print(room.count("o"))

3

### List Methods

In [77]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Print out the index of the element 20.0
print(areas.index(20.0))

# Print out how often 14.5 appears in areas
print(areas.count(14.5))

2
0

### List Methods (2)

In [79]:
# Create list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

# Use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.45)

# Print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.45]

In [80]:
# Reverse the orders of the elements in areas
areas.reverse()

# Print out areas
print(areas)

[15.45, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]

## Packages

- a directory of python scripts
- there are thousands
- some good data science packages
 - numpy, matplotlib, scikit-learn
- You install the packages with pip or conda
 - Then import the package or specific functions from it in your script before calling the funcitons
- its common to shorten the packages
 - `import numpy as np`

### Import package

In [81]:
# Definition of radius
r = 0.43

# Import the math package
import math

# Calculate C
C = 2 * math.pi * r

# Calculate A
A = math.pi * r ** 2

# Build printout
print("Circumference: " + str(C))
print("Area: " + str(A))

Circumference: 2.701769682087222
Area: 0.5808804816487527

### Selective import

In [82]:
# Definition of radius
r = 192500

# Import radians function of math package
from math import radians

# Travel distance of Moon over 12 degrees. Store in dist.
phi = radians(12)
dist = r * phi

# Print out dist
print(dist)

40317.10572106901

### Different ways of importing

- Lets say you want to use the `inv()` function from `linalg` subpackage of `scipy` like this:
 - `my_inv([[1,2], [3,4]])`
- How would you import it
 - `from scipy.linalg import inv as my_inv`

# NumPy

## NumPy

Lists vs NumPy
- Lists are powerful
 - you can hold a collection of values, even different values, and change, add or remove these values
- But there is something huge missing
 - Python does not know how to perform calculations on list.
 - You would have to loop through each element of two list and perform a calculation storing the result in another list.
 - This is slow
- NumPy lets you perform calculations on lists. 
 - you can convert a list into a np array
 
Types and methods

- A np array can only contain one data type
 - so, if you use `np.array` on a list with multiple types it will pick one type to fit all, like a string. 
- The methods will work different on a numpy array than a list
 - `+` on an np array will sum the elements, not concatenate the elements. 

Subsetting:

- to index, you can just use square brackets 
 - `bmi[1]`
- you can also use an array of booleans to get multiple values
 - `bmi[bmi > 23]`

In [96]:
# This wont work with lists
height = [1.73, 1.68, 1.71, 1.89, 1.79]
weight = [65.4, 59.2, 63.6, 88.4, 68.7]
weight / height ** 2

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [94]:
import numpy as np

np_height = np.array(height)
np_weight = np.array(weight)

print(np_height)
print(np_weight)

[ 1.73  1.68  1.71  1.89  1.79]
[ 65.4  59.2  63.6  88.4  68.7]

In [95]:
bmi = np_weight / np_height ** 2
print(bmi)

[ 21.85171573  20.97505669  21.75028214  24.7473475   21.44127836]

### Your First NumPy Array

In [91]:
# Create list baseball
baseball = [180, 215, 210, 210, 188, 176, 209, 200]
print(baseball)

[180, 215, 210, 210, 188, 176, 209, 200]

In [92]:
# Import the numpy package as np
import numpy as np

# Create a Numpy array from baseball: np_baseball
np_baseball = np.array(baseball)
print(np_baseball)

[180 215 210 210 188 176 209 200]

In [93]:
# Print out type of np_baseball
print(type(np_baseball))

<class 'numpy.ndarray'>

### Baseball players' height

First, I need to get the baseball data for the class. Maybe this is cheating, but pandas makes it easy to do this. Then I will convert the height and weight from this dataframe into numpy arrays.

In [141]:
import pandas as pd
baseball = pd.read_csv('https://assets.datacamp.com/production/course_735/datasets/baseball.csv')
baseball.head()

              Name Team       Position  Height  Weight    Age PosCategory
0    Adam_Donachie  BAL        Catcher      74     180  22.99     Catcher
1        Paul_Bako  BAL        Catcher      74     215  34.69     Catcher
2  Ramon_Hernandez  BAL        Catcher      72     210  30.78     Catcher
3     Kevin_Millar  BAL  First_Baseman      72     210  35.43   Infielder
4      Chris_Gomez  BAL  First_Baseman      73     188  35.71   Infielder

In the class they provided a list of values and we call `np.array(height)` to get the numpy array. But from pandas we just need to pull the values of the Height column and it will be a numpy array.

In [123]:
# Create a Numpy array from height: np_height
np_height = baseball['Height'].values

# Print out np_height
np_height

array([74, 74, 72, ..., 75, 75, 73])

In [124]:
# Convert np_height to m: np_height_m
np_height_m = np_height * 0.0254

# Print np_height_m
print(np_height_m)

[ 1.8796  1.8796  1.8288 ...,  1.905   1.905   1.8542]

### Baseball player's BMI

In [125]:
# Create array from weight with correct units: np_weight_kg
np_weight_kg = baseball['Weight'].values * .453592
np_weight_kg

array([ 81.64656,  97.52228,  95.25432, ...,  92.98636,  86.18248,
        88.45044])

In [126]:
# Calculate the BMI: bmi
bmi = np_weight_kg/np_height_m ** 2

# Print out bmi
print(bmi)

[ 23.11037639  27.60406069  28.48080465 ...,  25.62295933  23.74810865
  25.72686361]

### Lightweight baseball players

In [127]:
# Create the light array
light = bmi < 21

# Print out light
print(light)

# Print out BMIs of all baseball players whose BMI is below 21
print(bmi[light])

[False False False ..., False False False]
[ 20.54255679  20.54255679  20.69282047  20.69282047  20.34343189
  20.34343189  20.69282047  20.15883472  19.4984471   20.69282047
  20.9205219 ]

### NumPy Side Effects

In [128]:
np.array([True, 1, 2]) + np.array([3, 4, False])

array([4, 5, 2])

### Subsetting NumPy Arrays

In [130]:
printnp_height

array([74, 74, 72, ..., 75, 75, 73])

In [134]:
print(np_height_m)
print(np_weight_kg)

# Print out the weight at index 50
print(np_weight_kg[50])

# Print out sub-array of np_height: index 100 up to and including index 110
print(np_height_m[100:111])

[ 1.8796  1.8796  1.8288 ...,  1.905   1.905   1.8542]
[ 81.64656  97.52228  95.25432 ...,  92.98636  86.18248  88.45044]
90.7184
[ 1.8542  1.8796  1.8288  1.8542  1.7526  1.8288  1.8542  1.905   1.905
  1.8542  1.8288]

## 2D NumPy Arrays

- The type of numpy.ndarray stands for numpy n dimensional array
- This is like an improved list of lists
- You can do more advanced subsetting
- You can still only have one data type
 - np_2d[0]
 - np_2d[0][2] is same as
 - np[0,2]
 - np_2d[:, 1:3] will give you height and weight of 2nd and 3rd person
  - This seems to work just like a matlab matrix
  - except that it is zero indexed and the last value is not included
  - man thats going to be hard to get used to!

### Your First 2D NumPy Array

In [137]:
# Create baseball, a list of lists
baseball = [[180, 78.4],
            [215, 102.7],
            [210, 98.5],
            [188, 75.2]]

# Create a 2D Numpy array from baseball: np_baseball
np_baseball = np.array(baseball)

# Print out the type of np_baseball
print(type(np_baseball))

# Print out the shape of np_baseball
print(np_baseball.shape)

print(np_baseball)

<class 'numpy.ndarray'>
(4, 2)
[[ 180.    78.4]
 [ 215.   102.7]
 [ 210.    98.5]
 [ 188.    75.2]]

### Baseball data in 2D form

Hmmm, here I actually need to make a 2d numpy array from the pandas data frame. 
In the class they give you the height and weight in a list of list and you just need to call `np.array()` on it

In [155]:
baseball = pd.read_csv('https://assets.datacamp.com/production/course_735/datasets/baseball.csv')
np_baseball = baseball[['Height','Weight']].values
print(type(np_baseball))
print(np_baseball)

# Print out the shape of np_baseball
print(np_baseball.shape)

<class 'numpy.ndarray'>
[[ 74 180]
 [ 74 215]
 [ 72 210]
 ...,
 [ 75 205]
 [ 75 190]
 [ 73 195]]
(1015, 2)

### Subsetting 2D NumPy Arrays

In [157]:
# Print out the 50th row of np_baseball
print(np_baseball[49])

[ 70 195]

In [158]:
# Select the entire second column of np_baseball: np_weight
np_weight = np_baseball[:,1]
print(np_weight)

[180 215 210 ..., 205 190 195]

In [159]:
# Print out height of 124th player
print(np_baseball[123,0])

75

### 2D Arithmetic

A quick example...

In [192]:
np_mat = np.array([[1, 2],
                   [3, 4],
                   [5, 6]])
print(np_mat)

[[1 2]
 [3 4]
 [5 6]]

In [193]:
print(np_mat * 2)

[[ 2  4]
 [ 6  8]
 [10 12]]

In [194]:
print(np_mat + np.array([10, 10]))

[[11 12]
 [13 14]
 [15 16]]

In [195]:
print(np_mat + np_mat)

[[ 2  4]
 [ 6  8]
 [10 12]]

Now, for the exercise I need to get the `updated` dataset out of the datacamp class and into my notebook:

- This will print the array with the commas so its easy to build the array in my own script. 
 - `print(repr(updated))`
- I also set the print options to `inf` so the whole thing would print, but not sure if that matters or not with the `repr` function
 - `np.set_printoptions(threshold=np.inf)` 
- Then I copied and pasted into file, wrapped the array in `np.array()` function and imported numpy at the top of the file. I saved the file as `updated.py`. It is in the working directory of the notebook.
- In the notebook, below, I run the py script
 - `run updated.py`
- This seems to work fine

In [187]:
run updated.py

I also need to get the height, weight, and age from the baseball array.

In [196]:
baseball = pd.read_csv('https://assets.datacamp.com/production/course_735/datasets/baseball.csv')
np_baseball = baseball[['Height','Weight','Age']].values

Okay, now `np_baseball` and `updated` should match in size...

In [198]:
print(updated.shape)
print(np_baseball.shape)

(1015, 3)
(1015, 3)

In [203]:
print(np_baseball)

[[  74.    180.     22.99]
 [  74.    215.     34.69]
 [  72.    210.     30.78]
 ...,
 [  75.    205.     25.19]
 [  75.    190.     31.01]
 [  73.    195.     27.92]]

In [204]:
print(updated)

[[  1.2303559  -11.162249     1.        ]
 [  1.02614252  16.0973231    1.        ]
 [  1.1544228    5.08167641   1.        ]
 ...,
 [  1.09349925   4.23890778   1.        ]
 [  0.82285669 -17.7820003    1.        ]
 [  0.99484223   8.14402711   1.        ]]

In [205]:
# Print out addition of np_baseball and updated
print(np_baseball + updated)

[[  75.2303559   168.837751     23.99      ]
 [  75.02614252  231.0973231    35.69      ]
 [  73.1544228   215.08167641   31.78      ]
 ...,
 [  76.09349925  209.23890778   26.19      ]
 [  75.82285669  172.2179997    32.01      ]
 [  73.99484223  203.14402711   28.92      ]]

In [206]:
# Create Numpy array: conversion
conversion = np.array([0.0254, 0.453592, 1])

# Print out product of np_baseball and conversion
print(np_baseball * conversion)

[[  1.8796   81.64656  22.99   ]
 [  1.8796   97.52228  34.69   ]
 [  1.8288   95.25432  30.78   ]
 ...,
 [  1.905    92.98636  25.19   ]
 [  1.905    86.18248  31.01   ]
 [  1.8542   88.45044  27.92   ]]

## NumPy: Basic Statistics

In [209]:
height = np.round(np.random.normal(1.75, 0.20, 5000), 2)
weight = np.round(np.random.normal(60.32, 15, 5000), 2)
np_city = np.column_stack((height, weight))

In [210]:
np.mean(np_city[:,0])

1.7529220000000001

In [211]:
np.median(np_city[:,0])

1.75

In [212]:
np.corrcoef(np_city[:,0], np_city[:,1])

array([[ 1.        , -0.00131302],
       [-0.00131302,  1.        ]])

In [213]:
np.std(np_city[:,0])

0.19927348523072505

- Numpy is much faster than doing this on a list, because it forces single data type.

### Average versus median

A quick example...

In [217]:
x = [1, 4, 8, 10, 12]
print(np.mean(x))
print(np.median(x))

7.0
8.0

In [218]:
# Create np_height from np_baseball
np_height = np_baseball[:,0]

# Print out the mean of np_height
print(np.mean(np_height))

# Print out the median of np_height
print(np.median(np_height))

73.6896551724
74.0

### Explore the baseball data

In [219]:
# Print mean height (first column)
avg = np.mean(np_baseball[:,0])
print("Average: " + str(avg))

# Print median height. Replace 'None'
med = np.median(np_baseball[:,0])
print("Median: " + str(med))

# Print out the standard deviation on height. Replace 'None'
stddev = np.std(np_baseball[:,0])
print("Standard Deviation: " + str(stddev))

# Print out correlation between first and second column. Replace 'None'
corr = np.corrcoef(np_baseball[:,0],np_baseball[:,1])
print("Correlation: " + str(corr))

Average: 73.6896551724
Median: 74.0
Standard Deviation: 2.31279188105
Correlation: [[ 1.          0.53153932]
 [ 0.53153932  1.        ]]

### Blend it all together

- Wow getting the fifa data set was a bit of a mess at first. 
- It has leading spaces so the indexing was not working
- I found the `list` function that shows the header values.

In [222]:
fifa = pd.read_csv('https://assets.datacamp.com/production/course_735/datasets/fifa.csv')
fifa.head()

,id,name,rating,position,height,foot,rare,pace,shooting,passing,dribbling,defending,heading,diving,handling,kicking,reflexes,speed,positioning
0,1001,Gbor Kirly,69,GK,191,Right,0,,,,,,,70,66,63,74,35,66.0
1,100143,Frederik Boi,65,M,184,Right,0,61,65,63,59,62,62,,,,,,NaN
2,100264,Tomasz Szewczuk,57,A,185,Right,0,65,54,43,53,55,74,,,,,,NaN
3,100325,Steeve Joseph-Reinette,63,D,180,Left,0,68,38,51,46,64,71,,,,,,NaN
4,100326,Kamel Chafni,72,M,181,Right,0,75,64,67,72,57,66,,,,,,NaN

In [229]:
type(fifa)

pandas.core.frame.DataFrame

In [241]:
np.char.strip(fifa)

TypeError: string operation on non-string array

In [232]:
list(fifa)

['id',
 ' name',
 ' rating',
 ' position',
 ' height',
 ' foot',
 ' rare',
 ' pace',
 ' shooting',
 ' passing',
 ' dribbling',
 ' defending',
 ' heading',
 ' diving',
 ' handling',
 ' kicking',
 ' reflexes',
 ' speed',
 ' positioning']

In [246]:
# Convert positions and heights to numpy arrays: np_positions, np_heights
# Here I use .str.strip to remove the leading whitespace from the position column
np_positions = fifa[' position'].str.strip()
np_heights = fifa[' height'].values

In [250]:
np_positions.head()

0    GK
1     M
2     A
3     D
4     M
Name:  position, dtype: object

In [252]:
(np_positions == 'GK').head()

0     True
1    False
2    False
3    False
4    False
Name:  position, dtype: bool

In [253]:
# Heights of the goalkeepers: gk_heights
gk_heights = np_heights[np_positions == 'GK']

# Heights of the other players: other_heights
other_heights = np_heights[np_positions != 'GK']

# Print out the median height of goalkeepers. Replace 'None'
print("Median height of goalkeepers: " + str(np.median(gk_heights)))

# Print out the median height of other players. Replace 'None'
print("Median height of other players: " + str(np.median(other_heights)))

Median height of goalkeepers: 188.0
Median height of other players: 181.0